/* src/components/AddDivForm.css */

.add-div-form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #3498db; /* Updated background color */
  border: 1px solid #2980b9;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.add-div-form:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-div-form label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff; /* Updated label color to white */
}

.add-div-form label input {
  margin-top: 10px;
}

.add-div-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-div-form button {
  background-color: #2ecc71; /* Updated button background color */
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.add-div-form button:hover {
  background-color: #27ae60; /* Updated button background color on hover */
  transform: scale(1.05);
}
